body {
    font-size: 20px;
    margin: auto;
    width: 60%;
    background-color: aliceblue;
}

#gameList {
    list-style-position: inside;
    padding: 0;
}

li {
    font-size: 25px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}